<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(assets/hero_bg_1.jpg)
;background-position: 50% -25px;">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">

        <div class="col-md-8" [@fadeInDown]="fadeInDown">
          <h1 class="text-white font-weight-light text-uppercase font-weight-bold">{{ 'nav.link2' | translate }}</h1>
          </div>
      </div>
    </div>
  </div> 


  <!-- about part start-->
  <section class="about_part single_about_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"  data-aos="zoom-in" data-aos-once="true">
                <div class="about_part_img">
                    <h2  class="mb-0 text-primary" data-aos="fade-down" data-aos-once="true">{{ 'nav.link2' | translate }}</h2>
                    <img src="assets/about_2.png" alt="#">
                </div>
            </div>
            <div class="col-lg-7"  data-aos="zoom-in" data-aos-once="true">
                <div class="about_part_text">
                    <div class="about_text_iner">
                        <p>NOURCOM International {{ 'about.p1' | translate }}</p>
                        <p> NOURCOM {{ 'about.p2' | translate }} </p>
                        <ul class="ul-check list-unstyled white">
                            <li class="text-white">{{ 'about.li1' | translate }}</li>
                            <li class="text-white">{{ 'about.li2' | translate }}</li>
                            <li class="text-white">{{ 'about.li3' | translate }}</li>
                          </ul>
                      <p>{{ 'about.p3' | translate }}</p>
                      <p>{{ 'about.p4' | translate }} </p>
                      
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- about part end-->

<div class="site-section bg-image overlay" style="background-image: url('assets/hero_bg_4.jpg');">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary" data-aos="fade-down" data-aos-once="true">
        <h2 class="font-weight-light text-primary" data-aos="fade">Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <div class="how-it-work-item">
          <span class="number" data-aos="fade-down" data-aos-once="true">1</span>
          <div class="how-it-work-body" data-aos="fade-down" data-aos-once="true">
            <h2>{{ 'service1.title' | translate }}</h2>
            <p class="mb-5">
              {{ 'service1.description1' | translate }}</p>
            <p class="mb-5">
              {{ 'service1.description2' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <div class="how-it-work-item">
          <span class="number" data-aos="fade-down" data-aos-once="true">2</span>
          <div class="how-it-work-body" data-aos="fade-down" data-aos-once="true">
            <h2>{{ 'service2.title' | translate }}</h2>
            <p class="mb-5">
              {{ 'service2.description1' | translate }} </p>
           
            <p class="mb-5">
              {{ 'service2.description2' | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
        <div class="how-it-work-item">
          <span class="number" data-aos="fade-down" data-aos-once="true">3</span>
          <div class="how-it-work-body" data-aos="fade-down" data-aos-once="true">
            <h2>{{ 'service3.title' | translate }}
              </h2>
            <p class="mb-5">
              {{ 'service3.description1' | translate }} </p>
                <p></p>
                <p class="mb-5">
                  {{ 'service3.description2' | translate }}</p>
            <p class="mb-5">
              {{ 'service3.description3' | translate }} </p>
          
          </div>
        </div>
      </div>

    </div>
  </div>
</div>